[Unit]
Description=etcd
Documentation=https://github.com/coreos

[Service]
ExecStart=/usr/bin/etcd \
    --name etcd-clusters \
    --data-dir=/var/lib/etcd \
    --listen-client-urls http://{{ansible_default_ipv4.address}}:2379,http://127.0.0.1:2379 \
    --advertise-client-urls http://{{ansible_default_ipv4.address}}:2379
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target