{%- set master = [] -%}
{%- for node in host_roles -%}
  {%- for key, value in node.iteritems() -%}
    {%- if "master" in value['type'] -%}
      {{- master.append(value['ipaddress']) -}}
    {%- endif -%}
  {%- endfor -%}
{%- endfor -%}
[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=docker.service
Requires=docker.service

[Service]
ExecStart=/usr/bin/kubelet \
  --allow-privileged=true \
  --api-servers=http://{{ master | join(",") }}:6443 \
  --cloud-provider= \
  --cluster-dns={{ cluster_info.dns_service_ip }} \
  --cluster-domain={{ cluster_info.cluster_domain }} \
  --container-runtime=docker \
  --docker=unix:///var/run/docker.sock \
  --network-plugin=cni \
  --kubeconfig=/var/lib/kubelet/kubeconfig \
  --reconcile-cidr=true \
  --serialize-image-pulls=false \
  --v=2

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target